img {
  max-width: 100%
}

html {
  box-sizing: border-box;
  min-width: 1280px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  background-color: #fefefe;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.hotels-page {
  min-width: 1200px;
  height: 993px;
  color: #000000;
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.main-header {
  margin: 0px 40px;
  min-height: 71px;
}

.main-navigation {
  font-weight: 700;
  background-color: #ffffff;
}

.header-logo {
  width: 140px;
  height: 71px;
}

.main-navigation-wrapper {
  width: 100%;
}

.site-navigation {
  display: flex;
  height: 56px;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  padding: 0px 70px;
  list-style: none;
}

.navigation-left-half {
  display: flex;
  justify-content: space-between;
  min-width: 330px;
}

.navigation-right-half {
  display: flex;
  justify-content: space-between;
  min-width: 330px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  font-size: 0px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-block {
  min-width: 1200px;
  height: 510px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #ffffff;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px auto, 1200px 773px;
  background-position: bottom center, top center;
}

.sedona-town {
  min-width: 450px;
  text-wrap: wrap;
  margin-top: 200px;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.fetures-intro {
  min-width: 500px;
  margin-top: 0px;
  text-wrap: wrap;
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 1100px;
  min-width: 1200px;
  margin-top: 210px;
  margin-left: -40px;
}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-1 {
  background-color: #81b3d2;
  color: #ffffff;
  width: 1200px;
  height: 255px;
  background-image: url("../img/feature-1.jpg");
  background-repeat: no-repeat;
  background-size: 800px 260px;
  background-position: center right;
}

.advice {
  width: 400px;
  height: 330px;
}

.feature-2 {
  background-color: #81b3d2;
  text-align: right;
  color: #ffffff;
  width: 1200px;
  height: 255px;
  background-image: url("../img/feature-2.jpg");
  background-repeat: no-repeat;
  background-size: 800px 260px;
  background-position: center left;
}

.feature-3,
.feature-4,
.feature-5 {
  background-color: #eeeeee;
  width: 400px;
  height: 255px;
  text-align: center;
  text-wrap: wrap;
}

.feature-1 h2,
.feature-2 h2 {
  color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-1 span,
.feature-2 span {
  line-height: 21px;
}

.feature-1 p,
.feature-2 p {
  line-height: 21px;
}

.feature-3 h2,
.feature-4 h2,
.feature-5 h2 {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.feature-3 span,
.feature-4 span,
.feature-5 span {
  line-height: 21px;
}

.feature-3 p,
.feature-4 p,
.feature-5 p {
  line-height: 21px;
}

.advice-list {
  background-color: #ffffff;
  list-style: none;
}

.advice-name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.advice-description {
  line-height: 21px;
}

.booking {
  display: flex;
  width: auto;
  margin-left: 40px;
  margin-top: 0px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.booking-heading {
  width: 1200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.booking-intro {
  line-height: 24px;
}

.open-booking {
  margin-bottom: 55px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
}

.open-booking:hover {
  background-color: #604e43;
}

.open-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.booking-fields {
  display: flex;
  flex-direction: column;
  width: 575px;
  height: 285px;
  align-items: center;
  list-style: none;
}

.booking input {
  height: 40px;
  margin-bottom: 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.booking input::-moz-placeholder {
  color: #000000;
}

.booking input::-webkit-input-placeholder {
  color: #000000;
}

.booking input:-ms-input-placeholder {
  color: #000000;
}

.booking input::-ms-input-placeholder {
  color: #000000;
}

.booking input::placeholder {
  color: #000000;
}

.booking input:hover {
  background-color: #ebebeb;
}

.booking input:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.calendar {
  font-size: 0px;
  background-color: #ffffff;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  border: none;
}

.less {
  font-size: 0px;
  background-color: #ffffff;
  background-image: url("../img/less.svg");
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  border: none;
}

.more {
  font-size: 0px;
  background-color: #ffffff;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  border: none;
}

.button-search {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: transparent;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filters {
  display: flex;
  width: 100%;
  height: 220px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1280px 562px;
}

.filters-wrapper {
  display: flex;
  height: 220px;
}

.filters-left {
  display: flex;
  width: 400px;
  height: 220px;
  justify-content: space-between;
  align-items: stretch;
}

.filters-right {
  display: flex;
  flex-direction: column;
  margin-left: 340px;
  margin-right: 70px;
  width: 400px;
  height: 220px;
  justify-content: space-around;
  align-items: stretch;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters ul {
  padding-left: 0px;
  list-style: none;
  line-height: 21px;
}

.button-show {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
}

.button-show:hover,
.button-show:active {
  color: #000000;
  background-color: #ffffff;
}

.catalog {
  width: 1200px;
}

.catalog ul {
  list-style: none;
  padding: 0px;
}

.hotels-list {
  display: flex;
  flex-direction: column;
}

.hotels-item {
  border-top: 1px solid #e5e5e5;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  height: 155px;
  width: 1200px;
}

.hotels-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-item-columns {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 95px;
}

.hotel-image {
  height: 95px;
  width: 135px;
}

.hotels-item-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 200px;
}

.hotel-name {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.hotel-description {
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.details {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  margin-right: 5px;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #766357;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotels-item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rating {
  color: #666666;
  line-height: 21px;
  background-color: #f2f2f2;
}

.stars {
  text-align: right;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 765px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  margin-left: 130px;
}

.footer-social {
  display: flex;
  text-align: center;
  align-items: center;
  list-style: none;
}

.social-button {
  display: block;
  width: 55px;
  height: 50px;
  margin-right: 5px;
  font-size: 0px;
  background-size: 46px 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}


.social-button-twitter {
  background-image: url("../img/twitter.svg");
  background-size: 17px 15px;
}

.social-button-facebook {
  background-image: url("../img/facebook.svg");
  background-size: 12px 22px;
}

.social-button-youtube {
  background-image: url("../img/youtube.svg");
  background-size: 20px 16px;
}

.footer-copyright {
  text-align: right;
  margin-right: 100px;
}

.footer-copyright span {
  text-align: right;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
