img {
  max-width: 100%
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.container {
  background-color: #fefefe;
}

.hotels-page {
  color: #000000;
  background-color: #fefefe;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  margin-bottom: 61px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  background-color: #ffffff;
  min-height: 71px;
}

.header-logo {
  width: 140px;
  height: 71px;
}

.site-navigation {
  align-self: center;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 56px;
}

.navigation-left-half {
  display: flex;
  justify-content: space-between;
  width: 328px;
}

.navigation-right-half {
  display: flex;
  justify-content: space-between;
  width: 328px;
  order: 1;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .site-navigation-current {
  color: rgba(0, 0, 0, 0.3);
}

.visually-hidden {
  font-size: 0px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.welcome-block {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../img/polygon.svg"), url("../img/background-photo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px auto, 1200px 773px;
  background-position: bottom center, top center;
}

.sedona-town {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.booking {
  text-align: center;
  background-color: #ffffff;
}

.booking-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.booking-intro {
  line-height: 24px;
}

.open-booking {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #766357;
}

.open-booking:hover {
  background-color: #604e43;
}

.open-booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.booking-fields {
  list-style: none;
}

.booking input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border: 1px solid transparent;
}

.booking input::-moz-placeholder {
  color: #000000;
}

.booking input::-webkit-input-placeholder {
  color: #000000;
}

.booking input:-ms-input-placeholder {
  color: #000000;
}

.booking input::-ms-input-placeholder {
  color: #000000;
}

.booking input::placeholder {
  color: #000000;
}

.booking input:hover {
  background-color: #ebebeb;
}

.booking input:focus {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.calendar {
  font-size: 0px;
  background-color: #ffffff;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  border: none;
}

.less {
  font-size: 0px;
  background-color: #ffffff;
  background-image: url("../img/less.svg");
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  border: none;
}

.more {
  font-size: 0px;
  background-color: #ffffff;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  border: none;
}

.button-search {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: transparent;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filters {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px 562px;

}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filters ul {
  list-style: none;
  line-height: 21px;
}

.button-show {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid white;
}

.button-show:hover,
.button-show:active {
  color: #000000;
  background-color: #ffffff;
}

.catalog ul {
  list-style: none;
}

.hotels-item {
  border-top: 1px solid #e5e5e5;
}

.hotels-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotel-name {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.details {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.details:hover {
  background-color: #669ec0;
}

.details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #766357;
}

.book:hover {
  background-color: #604e43;
}

.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.rating {
  color: #666666;
  line-height: 21px;
  background-color: #f2f2f2;
}

.stars {
  text-align: right;
}

.main-footer {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer p {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  text-align: center;
  list-style: none;
}

.social-button {
  display: block;
  font-size: 0px;
  background-size: 46px 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}


.social-button-twitter {
  background-image: url("../img/twitter.svg");
  background-size: 17px 15px;
}

.social-button-facebook {
  background-image: url("../img/facebook.svg");
  background-size: 12px 22px;
}

.social-button-youtube {
  background-image: url("../img/youtube.svg");
  background-size: 20px 16px;
}

.footer-copyright {
  text-align: right;
}

.footer-copyright span {
  text-align: right;
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}
